#footer {
  background-color: #0b0b0d;
  color: white;
  text-align: center;
}

#toprow {
  background-color: #0b0b0d;
  padding-top: 20px;
}

.white-link {
  color: white;
}

#policies{
  max-width: 800px;
  padding-top: 5px;
  background-color: #0b0b0d;
  font-family: "Poppins";
  font-size: 15px;
  color: white;
}

#copyright {
  max-width: 730px;
  padding-top: 20px;
  background-color: #0b0b0d;
  font-family: "Poppins";
  font-size: 13px;
  color: white;
}

#social img{
  width: 42px;
  margin-right: 9px;
}

#social {
  margin-right: 20px;
}

#emailform {
  height: 46px;
  width: 273px;
  margin-top: 5px;
  margin-right: 5px;
  background-color: rgba(0,0,0,0);
  color: white;
  border-color: rgb(68, 68, 68);
  border-width: 2px;
  padding-left: 5px;
}

#emailform:focus {
  border-color: white;
  outline: none;          
  box-shadow: none;     
}

#emailsubmit {
  height: 46px;
  width: 100px;
  margin-top: 5px;
  border: none;
  background-color: #7A00FF;
  color: white;
}

.fade-out {
  opacity: 0;
}

#emailsubmit:hover {
  background-color: #420088;
}
