html, body {
  height: 100%;
  margin: 0;
  background-color: #1a1025;
  background-image: linear-gradient(to left, rgb(120, 81, 169), rgb(0, 15, 43));   
  overflow-x: hidden;
}

#page {
  min-height: 200vh;
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.transition-all {
  transition: all 0.3s ease;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-behavior: normal;
}

.banner {
  margin-top: 25px;
  width: 98%;
  box-shadow: 0px 0px 30px 15px #000000;
}

.dropdown {
  border-radius: 5px;
  background-color: rgb(35, 15, 43);
  margin-left: 20px;
}

.dropdown:hover {
  color: white;
  background-color: rgb(14, 13, 32);
}

.btn {
  color: white !important;
}

.productlabel {
  margin-left: calc((100% - 300px) / 2 - 30px);
  margin-right: auto;
}

.mw-440p {
  max-width: 440px !important;
}

.boxshadow {
  box-shadow: 0px 0px 20px 5px #000000;
}