#header {
    height: 100;
    top: 0;
    background-color: rgb(51, 0, 91);
    background-image: linear-gradient(to right, rgb(51, 0, 91) , rgb(26, 26, 26));
    position: sticky;
}

#relagtext {
    color:white;
    font-family: 'Dhurjati', sans-serif;
    font-size: 35px;
    padding-bottom: 5px;
}

#logo {
    padding-bottom: 5px;
}

#navbarIcon {
    padding-left: 25px;
}

#hamburger {
    transform:scale(1)
}

#hamburger:hover {
    transform: scale(1.1);
}

#sidebarIcon {
    padding-right: 25px;
}

#fireyicon:hover {
    transform: scale(1.1);
}

#navbarOpen {
    width: 400px;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    transform: translateX(-100%);
}

#sidebarOpen {
    width: 400px;
    height: 100%;
    background-color: red;
    position: fixed;
    right: 0;
    transform: translateX(100%);
}

#navbarClose {
    font-family: 'Montserrat', sans-serif;   
    font-weight: bolder;
    font-size: 25px;
    color: white;
}

.navStyle {
    height: 80px;
    font-family: "Poppins";
    font-size:23px;
    color: white;
    background-color: #2e2e2e;
}

.navStyle:hover {
    background-color: #191919;
    border-image-source: linear-gradient(to left, #1cd2e6, #ee00ff);
}

.border-gradient {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to right, #1cd2e6, #ee00ff);
    border-left: 0;
    border-right: 0;
}

.only-top {
    border-bottom: 0;
}